/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/12/2016, 08:49:01 PM
    Author     : Harpo
*/

.container{
    width: 70%;
}
.container2{
    width: 90%;
}

#mainCol{
    margin: 0 auto;
}

#topBanner{
    height: 50px;
}


@media only screen and (max-width: 500px) {
    #container-land{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    #container2-land{
        display: none;
    }
}
@media only screen and (max-width: 780px) {
    #banner{
        content:url("../IMG/register/step1.png");
    }
}

/*Se acomoda el banner a la parte de arriba*/
@media only screen and (max-width: 768px) {
    #banner2{
        margin-top: -70px !important;
        margin-bottom: 10px !important;
        content:url("../IMG/register/step2.png");
    }
}

#banner2{
    margin-top: 100px;
}

/*Se acomoda el selector de avatar a la parte de abajo*/
@media only screen and (max-width: 768px) {
    #imageSelector{
        margin-top: -50px !important;
        margin-bottom: 10px !important;
    }
}

/*Se acomodan los botones a la derecha pantalla celular-land*/
@media only screen and (max-width: 480px) {
    #botones{
        margin-left: 150px;
    }
}

/*Se acomodan los botones hacia abajo en la pantalla modo tablet*/
@media only screen and (max-width: 1024px) {
    #botones{
        margin-top: 40px;
    }
}

#imageSelector{
    margin-top: 100px;
}