/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 1:04:50 AM
    Author     : Celeste
*/

#content{
    width: 50px;
    height: 50px;
}