.content{
    
padding:20px;	

margin: 0 auto;
}

.content:before,
.content:after {
content: "";
display: block;
clear: both;
} 

img.item{
padding:5px;
background:#FFF;
width:90%;
margin:0 5px 5px 0;
box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out; 
}

img.item:hover{
transform: scale(1.05);
box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
} 

img.blur{
filter: blur(3px);
transform: scale(0.95);
}



#title{
	text-align: center;
	background-color: #3E2962;
	color: white;
	height: 90px;
}

#footer{
	background-color: #3E2962;
	color: white;
	height: 30px;
	text-align: center;
}